h1{
  font-family: 'Roboto', sans-serif;
  color: #F5F5F5;
}
.name-s{
  font-size: 3.5rem;
}

h2{
  color: #F5F5F5;
}

.last-s{
  font-size: 4rem;
  font-weight: bold;
  color: #EBB940;
}

.exper-s{
  font-size: 2rem;
}

.description-s{
  width: 65%;
}
