<div class="p-5">
  <div class="order1-s">

    <div>
      <a class="github-s" href="https://github.com/LiRizo"><i class="far fa-envelope"></i>
        <h2>{{mail}}</h2>
      </a>
    </div>

    <div>
      <a class="github-s" href="https://github.com/LiRizo"><i class="fab fa-github"></i>
        <h2>{{github}}</h2>
      </a>
    </div>

    <div>
      <a class="number-s" href=""><i class="fas fa-phone"></i>
        <h2>{{number}}</h2>
      </a>
    </div>

  </div>
</div>
<div class="order2-s">
  <a class="logoin-s" href=""><i class="fab fa-linkedin-in"></i></a><img class="qrlinkedin-s" src="{{linkedin}}" alt="">
</div>
