<div *ngFor="let item of aboutMe; let i = index;">

  <div class="p-4">
    <div class="order1-s">

      <div>
        <a class="icons-s" href=""><i class="far fa-envelope"></i>
          <p style="font-size: 1.5rem;">{{item.correo}}</p>
        </a>
      </div>

      <div>
        <a class="icons-s" href="https://github.com/LiRizo" target="_blank"><i class="fab fa-github"></i>
          <p style="font-size: 1.5rem;">{{item.github}}</p>
        </a>
      </div>

      <div>
        <a class="icons-s" href=""><i class="fas fa-phone"></i>
          <p style="font-size: 1.5rem;">{{item.numero}}</p>
        </a>
      </div>

    </div>
  </div>
  <div class="order2-s">
    <a class="" href="https://www.linkedin.com/in/linda-canaima-rizo-contreras/" target="_blank"><i
        class="fab fa-linkedin-in"></i></a><img class="qrlinkedin-s" src="{{item.linkedin}}" alt="">
  </div>

</div>
