/* You can add global styles to this file, and also import other style files */
body {
  position: absolute;
  width: 100vw;
  background-color: #242529;
  overflow-x: hidden;
}
h1,
h2,
h3,
p {
  color: #f5f5f5;
}

h5 {
  color: #f2d949;
}

a {
  font-size: 2.6rem;
  margin: 1rem;
  color: #f2d949;
  text-decoration: none;
}
a:hover {
  color: #c0b6aa;
}

.title-s {
  color: #f2d949;
  font-weight: bold;
}
.icons-s {
  display: flex;
  direction: row;
}
