<div class="order-s">

  <div class="card mt-2" style="width: 26rem; background: none;" *ngFor="let experience of experiences; index as i">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">{{experience.nombre_experiencia}}</h2>
      <h2 class="card-title">{{experience.fecha_experiencia}}</h2>
      <p class="card-text">{{experience.detalle_experiencia}}</p>
      <h5 class="card-text">{{experience.tecnologias_experiencia}}</h5>
    </div>
  </div>

</div>
